<h1>Listing recruitments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recruitments.each do |recruitment| %>
  <tr>
    <td><%= link_to 'Show', recruitment %></td>
    <td><%= link_to 'Edit', edit_recruitment_path(recruitment) %></td>
    <td><%= link_to 'Destroy', recruitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recruitment', new_recruitment_path %>
